<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.suryarating">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HowLongPage"
            android:label="@string/title_activity_how_long_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ServicesPage"
            android:label="@string/title_activity_services_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecommendRating"
            android:label="@string/title_activity_recommend_rating"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FieldRatings"
            android:label="@string/title_activity_field_ratings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PersonalDetailsPage"
            android:label="@string/title_activity_personal_details_page"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/string_feedback_form"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>